.pageRoot {
    padding-bottom: 90px;
  
    @media (--viewportLarge) {
      padding-bottom: 0;
    }
  }

  .root{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 3rem;
    gap: 2rem;
    
  }